{% extends "ExpertFinder/base.html" %}

{% block content %}
<section class="w3l-inner-banner">
    <div class="wrapper">
    </div>
  </section>


  <!-- w3l-features-photo-7 -->
  <section class="w3l-features-photo-7">
    <div class="w3l-features-photo-7_sur">
      <h3 class="heading"> About Expert Finder</h3>
      <div class="wrapper">
        <div class="w3l-features-photo-7_top">
          <div class="w3l-features-photo-7_top-left">
            <h4>First Platform To Connect Non Professional Expert To The Needy Customer. </h4>
            <p>We provide a Platform that allows skilled and experienced non professionals to connect with users looking
               for specific services. A platform where people can find an expert of any field, they can contact expert on 
               basis of rating, pricing, time to complete work 
              distance from their place etc. And the expert will come to their place and will make their work done.
            </p>
            <div class="feat_top">
              <div class="w3l-features-photo-7-box">
                <img src="../../static/ExpertFinder/assets/images/job1.png" class="img-responsive" width="50px" alt="" />
                <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Apply for Expert</a></h5>
                <p>Apply as a expert in our platform and get a new source of income!I</p>
              </div>
              <div class="w3l-features-photo-7-box">
                <img src="../../static/ExpertFinder/assets/images/job2.png" class="img-responsive" width="50px" alt="" />
                <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Get Help From Expert</a></h5>
                <p>Need any kinda help, Our expert is there for you</p>
              </div>
            </div>
          </div>
          <div class="w3l-features-photo-7_top-right">
            <img src="../../static/ExpertFinder/assets/images/blog1.jpg" class="img-responsive" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //w3l-features-photo-7 -->

  <!-- w3l-features-4 -->
  <section class="w3l-features-4">
    <div id="features4-block">
      <h3 class="heading"> How to apply for expert</h3>
      <div class="wrapper">
        <div class="features4-grids d-grid">
          <div class="features4-grid">
            <div class="icon1">
              <span class="fa text-center fa-user-plus"></span>
            </div>
            <h5><a href="#URL">Register account</a></h5>
            <p>Register yourself in our platform from our register page</p>
          </div>
          <div class="features4-grid">
            <div class="icon2">
              <span class="fa text-center fa-user"></span>
            </div>
            <h5><a href="#URL">Update profile</a></h5>
            <p>Add or update your profile from admin page</p>
          </div>
          <div class="features4-grid">
            <div class="icon3">
              <span class="fa text-center fa-graduation-cap"></span>
            </div>
            <h5><a href="#URL">Add your expertise</a></h5>
            <p>Add all of your expertise with related tags, so customer can find you easily</p>
          </div>
          <div class="features4-grid">
            <div class="icon4">
              <span class="fa text-center fa-paper-plane"></span>
            </div>
            <h5><a href="#URL">Done!</a></h5>
            <p>And there yo go. Now, just wait for the customer to reach you!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- w3l-features-4 -->

  <div class="display-ad" style="margin: 8px auto;display: block;text-align: center;">
    <!---728x90--->

  </div>
  <div class="w3l-counter-top-6">
    <!-- counter-6-inf block -->
    <section id="counter-6-inf-block" class="counter-main">
      <div class="wrapper-full-gd">
        <div class="d-grid align-counter-6-inf-cols">
          <div class="counter-6-inf-left second">
          </div>
          <div class="counter-6-inf-right">
            <div class="d-grid grid-col-2">
              <div class="specification">
                <span class="fa fa-user-plus"></span>
                <h6>Value your skills</h6>
                <p>Now, you can get paid for what your are skillfull and passion for.</p>
              </div>
              <div class="specification">
                <span class="fa fa-graduation-cap"></span>
                <h6>Millions of jobs </h6>
                <p>There are millions of people searching for you everyday but can't find you. It's time to show them up.</p>
              </div>
              <div class="specification spec-gap">
                <span class="fa fa-user"></span>
                <h6>Secure profiles</h6>
                <p>Your profile is secured in our encrypted database.</p>
              </div>
              <div class="specification spec-gap">
                <span class="fa fa-money"></span>
                <h6>No time hesitation</h6>
                <p>Work whenever you want, stop whenever you want.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="w3l-call-to-action-6">
    <!-- /call-vv-action -->
    <div class="call-vv-action">
      <div class="wrapper">
        <div class="grid">
          <div class="float-lt">
            <h3 class="hny-title">Want to become a Expert? Join us.</h3>
            <p>For Online queries, please call us today</p>
          </div>
          <div class="float-rt text-right">
            <ul class="buttons">
              <li class="phone"><span class="fa fa-volume-control-phone" aria-hidden="true"></span> +91 7874 81 7377
              </li>
              <li class="green">Or</li>
              <li><a href="{% url 'contact' %}" class="btn read active">Get in touch</a></li>
            </ul>

          </div>
        </div>
      </div>

    </div>
    <!-- //call-vv-action -->
  </section>

  {% endblock content %}