{% extends "ExpertFinder/base.html" %}

{% block content %}
	<section class="w3l-inner-banner">
		<div class="wrapper">
		</div>
	</section>

	<!-- w3l-contacts-5-grid -->
	<div class="w3l-contacts-5">
		<div class="w3l-contacts-5-grid-main">
			<div class="w3l-contacts-5-grid">
				<div class="contacts-sub-5">
					<iframe
                        src="https://maps.google.com/maps?q=government%20polytechnic%20ahmeddabad&t=&z=13&ie=UTF8&iwloc=&output=embed"
						style="border:0" allowfullscreen></iframe>
				</div>
				<div class="map-content-5">
					<input id="tab1" type="radio" name="tabs" checked>
					<label class="tabtle" for="tab1">Ahmedabad</label>

					<input id="tab2" type="radio" name="tabs">
					<label class="tabtle" for="tab2">Baroda</label>

					<input id="tab3" type="radio" name="tabs">
					<label class="tabtle" for="tab3">Mumbai</label>

					<section id="content1" class="tab-content">
						<div class="d-grid grid-col-4">
							<div class="service-col-4">
								<h6>Address</h6>
								<p>Expert Finder Office, Ambawadi, Ahmedabad, Gujarat</p>

							</div>
							<div class="service-col-4">
								<h6>Email</h6>
								<a href="mailto:nityambhojani2@gmail.com" class="link1">nityambhojani2@gmail.com</a>
								<a href="mailto:info@expertfinder.com" class="link1">info@expertfinder.com</a>
							</div>
							<div class="service-col-4">
								<h6>Phone</h6>
								<a href="tel:7874817377" class="link1">+91 7874 81 7377</a>
							</div>
							<div class="service-col-4">
								<a href="mailto:nityambhojani2@gmail.com" style="max-width: 150px;" class="btn button-style">Contact us</a>

							</div>
						</div>

					</section>

					<section id="content2" class="tab-content">
						<div class="d-grid grid-col-4">
							<div class="service-col-4">
								<h6>Address</h6>
								<p>Expert Finder Office, near Pandya Bridge, Fatehgunj, Baroda, Gujarat</p>

							</div>
							<div class="service-col-4">
								<h6>Email</h6>
								<a href="mailto:harshil.y.joshi.2004@gmail.com" class="link1">harshil.y.joshi.2004@gmail.com</a>
								<a href="mailto:info@expertfinder.com" class="link1">info@expertfinder.com</a>
							</div>
							<div class="service-col-4">
								<h6>Phone</h6>
								<a href="tel:7984749038" class="link1">+91 79 8474 9038</a>
							</div>
							<div class="service-col-4">
								<a href="mailto:nityambhojani2@gmail.com" style="max-width: 150px;" class="btn button-style">Contact us</a>

							</div>

						</div>
					</section>
					<section id="content3" class="tab-content">
						<div class="d-grid grid-col-4">
							<div class="service-col-4">
								<h6>Address</h6>
								<p>Expert Finder Office, Kherwadi, Bandra East, Mumbai, Maharashtra.</p>

							</div>
							<div class="service-col-4">
								<h6>Email</h6>
								<a href="mailto:harshrupani25@gmail.com" class="link1">harshrupani25@gmail.com</a>
								<a href="mailto:info@expertfinder.com" class="link1">info@expertfinder.com</a>
							</div>
							<div class="service-col-4">
								<h6>Phone</h6>
								<a href="tel:6353150711" class="link1">+91 6353 15 0711</a>
								<!-- <a href="tel:+1(21) 224-016-8765" class="link1">1(21) 224-016-8765</a> -->
							</div>
							<div class="service-col-4">
								<a href="mailto:nityambhojani2@gmail.com" style="max-width: 150px;" class="btn button-style">Contact us</a>

							</div>
						</div>

					</section>

					<section id="content4" class="tab-content">
						<div class="d-grid grid-col-4">
							<div class="service-col-4">
								<h6>Address</h6>
								<p>GPA, Near Panjarapole Cross Rd, Ambawadi, Ahmedabad, Gujarat</p>

							</div>
							<div class="service-col-4">
								<h6>Email</h6>
								<a href="mailto:nityambhojani2@gmail.com" class="link1">nityambhojani2@gmail.com</a>
								<a href="mailto:info@expertfinder.com" class="link1">info@expertfinder.com</a>
							</div>
							<div class="service-col-4">
								<h6>Phone</h6>
								<a href="tel:7874817377" class="link1">+91 7874 81 7377</a>
							</div>
							<div class="service-col-4">
								<a href="mailto:nityambhojani2@gmail.com" style="max-width: 150px;" class="btn button-style">Contact us</a>

							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
		<!-- //w3l-contacts-5-grid -->

	</div>

	<section class="w3l-form-41">
		<!-- /w3l-form-41-section -->
		<div class="w3l-form-41-mian">
			<div class="wrapper">
				<div class="form-inner-cont">
					<form action="https://formspree.io/f/xlezeaon" method="post" class="signin-form">
						<h3>Submit your query</h3>
						<div class="form-input">
							<label for="w3lName">Name</label>
							<input type="text" name="w3lName" placeholder="Enter your name" required="" />
						</div>
						<div class="form-input">
							<label for="w3lSubject">Subject</label>
							<input type="text" name="w3lMessage" placeholder="Enter subject" required />
						</div>
						<div class="form-input">
							<label for="w3lSender">Email</label>
							<input type="email" name="w3lSender" placeholder="Enter your email" required />
						</div>
						<div class="form-input">
							<label for="w3lSubject">Message</label>
							<textarea name="w3lMessage" placeholder="Type your query here" required=""></textarea>
						</div>
						<div>
							<button class="btn">Submit</button>
                            <br>
							<div id="status"></div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- //w3l-form-41-section -->
{% endblock content %}