
{#    Files with django UI#}
    <a href="login.html">a</a>
    <a href="logout.html">a</a>
    <a href="expertise_confirm_delete.html">a</a>
    <a href="expertise_form.html">a</a>
    <a href="profile.html">a</a>
    <a href="signup.html">a</a>

{#    Files with Order UI#}
    <a href="admin_dashboard.html">a</a>
    <a href="admin_view.html">a</a>
    <a href="cart.html">a</a>
    <a href="cartitems_confirm_delete.html">a</a>
    <a href="item_list.html">a</a>
    <a href="order_details.html">a</a>
    <a href="pending_orders.html">a</a>